# Create Spark Context (sc)

In [15]:
import pyspark
sc = pyspark.SparkContext('local[*]')

In [16]:
sc

In [3]:
sc.version

u'2.0.2'

In [4]:
# do something to prove it works
rdd = sc.parallelize(range(1000))
rdd.takeSample(False, 15)

[576, 929, 908, 891, 534, 436, 39, 838, 659, 468, 349, 507, 487, 119, 768]

# Quijote wc example

In [5]:
rdd1 = sc.textFile("/FileStore/tables/2ndixk251466511975346/quijote.txt")

Why last code didn't throw an error?
(the file doesn't exist)

In [6]:
# Now, let's trigger the file not found error
rdd1.count()

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: org.apache.hadoop.mapred.InvalidInputException: Input path does not exist: file:/FileStore/tables/2ndixk251466511975346/quijote.txt
	at org.apache.hadoop.mapred.FileInputFormat.singleThreadedListStatus(FileInputFormat.java:287)
	at org.apache.hadoop.mapred.FileInputFormat.listStatus(FileInputFormat.java:229)
	at org.apache.hadoop.mapred.FileInputFormat.getSplits(FileInputFormat.java:315)
	at org.apache.spark.rdd.HadoopRDD.getPartitions(HadoopRDD.scala:199)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:248)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:246)
	at scala.Option.getOrElse(Option.scala:121)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:246)
	at org.apache.spark.rdd.MapPartitionsRDD.getPartitions(MapPartitionsRDD.scala:35)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:248)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:246)
	at scala.Option.getOrElse(Option.scala:121)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:246)
	at org.apache.spark.api.python.PythonRDD.getPartitions(PythonRDD.scala:53)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:248)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:246)
	at scala.Option.getOrElse(Option.scala:121)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:246)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1913)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:912)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:358)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:911)
	at org.apache.spark.api.python.PythonRDD$.collectAndServe(PythonRDD.scala:453)
	at org.apache.spark.api.python.PythonRDD.collectAndServe(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:237)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:745)

In [9]:
rdd1 = sc.textFile("https://raw.githubusercontent.com/raul-arrabales/BigData-Hands-on/master/data/quijote_complete.txt")

In [10]:
rdd1.count()

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: java.io.IOException: No FileSystem for scheme: https
	at org.apache.hadoop.fs.FileSystem.getFileSystemClass(FileSystem.java:2660)
	at org.apache.hadoop.fs.FileSystem.createFileSystem(FileSystem.java:2667)
	at org.apache.hadoop.fs.FileSystem.access$200(FileSystem.java:94)
	at org.apache.hadoop.fs.FileSystem$Cache.getInternal(FileSystem.java:2703)
	at org.apache.hadoop.fs.FileSystem$Cache.get(FileSystem.java:2685)
	at org.apache.hadoop.fs.FileSystem.get(FileSystem.java:373)
	at org.apache.hadoop.fs.Path.getFileSystem(Path.java:295)
	at org.apache.hadoop.mapred.FileInputFormat.singleThreadedListStatus(FileInputFormat.java:258)
	at org.apache.hadoop.mapred.FileInputFormat.listStatus(FileInputFormat.java:229)
	at org.apache.hadoop.mapred.FileInputFormat.getSplits(FileInputFormat.java:315)
	at org.apache.spark.rdd.HadoopRDD.getPartitions(HadoopRDD.scala:199)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:248)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:246)
	at scala.Option.getOrElse(Option.scala:121)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:246)
	at org.apache.spark.rdd.MapPartitionsRDD.getPartitions(MapPartitionsRDD.scala:35)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:248)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:246)
	at scala.Option.getOrElse(Option.scala:121)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:246)
	at org.apache.spark.api.python.PythonRDD.getPartitions(PythonRDD.scala:53)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:248)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:246)
	at scala.Option.getOrElse(Option.scala:121)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:246)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:1913)
	at org.apache.spark.rdd.RDD$$anonfun$collect$1.apply(RDD.scala:912)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:358)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:911)
	at org.apache.spark.api.python.PythonRDD$.collectAndServe(PythonRDD.scala:453)
	at org.apache.spark.api.python.PythonRDD.collectAndServe(PythonRDD.scala)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:237)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:280)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:214)
	at java.lang.Thread.run(Thread.java:745)

### Getting the file:

* Copy&Paste is disabled<br>
* HTTPS as file system is disabled for TextFile<br>
* wget not installed (yum install wget)<br>
* wget https://raw.githubusercontent.com/raul-arrabales/BigData-Hands-on/master/data/quijote_complete.txt
* and finally get the file in the local file system

In [7]:
! ls -la

total 3100
drwxrwxrwx.  7 root   root      199 Oct 24 12:59 .
drwxr-xr-x. 10 jovyan users     207 Jan 20  2017 ..
drwxr-xr-x.  2 jovyan users      71 Oct 19 14:06 .ipynb_checkpoints
-rw-r--r--.  1 root   root   522197 Oct 24 12:38 movies.dat
-rw-r--r--.  1 jovyan users   88789 Oct 24 12:59 nb-raul.ipynb
drwxrwxrwx.  7 root   root      126 Oct 18 19:09 python
-rw-r--r--.  1 root   root  2198927 Oct 24 11:37 quijote_complete.txt
drwxrwxrwx.  5 root   root       61 Jan 30  2017 R
-rw-r--r--.  1 root   root   353382 Oct 24 12:38 ratings_verysmall.dat
drwxrwxrwx.  5 root   root       61 Jan 30  2017 scala
drwxrwxrwx.  5 root   root      174 Sep 12 00:30 spark
-rw-r--r--.  1 jovyan users     898 Sep 12 00:32 Untitled.ipynb

In [11]:
rdd1 = sc.textFile("quijote_complete.txt")

In [12]:
rdd1.count()

37861

In [13]:
# Nested wordcount:
wordcounts = rdd1.map( lambda x: x.replace(',',' ').replace('.',' ').replace('-',' ').lower()) \
        .flatMap(lambda x: x.split()) \
        .map(lambda x: (x, 1)) \
        .reduceByKey(lambda x,y:x+y) \
        .map(lambda x:(x[1],x[0])) \
        .sortByKey(False)

In [14]:
# Check Results
wordcounts.take(5)

[(20592, u'que'), (18193, u'de'), (18139, u'y'), (10358, u'la'), (9852, u'a')]

In [ ]:
# Step by step (explain each step)

In [15]:
rdd1 = sc.textFile("quijote_complete.txt")
rdd1.take(15)

[u'The Project Gutenberg EBook of Don Quijote, by Miguel de Cervantes Saavedra',
 u'',
 u'This eBook is for the use of anyone anywhere at no cost and with',
 u'almost no restrictions whatsoever.  You may copy it, give it away or',
 u're-use it under the terms of the Project Gutenberg License included',
 u'with this eBook or online at www.gutenberg.net',
 u'',
 u'',
 u'Title: Don Quijote',
 u'',
 u'Author: Miguel de Cervantes Saavedra',
 u'',
 u'Posting Date: April 27, 2010 [EBook #2000]',
 u'Release Date: December, 1999',
 u'']

In [16]:
rdd2 = rdd1.map( lambda x: x.replace('.',' ').replace('-',' ').replace(',',' ').lower())
rdd2.take(10)

[u'the project gutenberg ebook of don quijote  by miguel de cervantes saavedra',
 u'',
 u'this ebook is for the use of anyone anywhere at no cost and with',
 u'almost no restrictions whatsoever   you may copy it  give it away or',
 u're use it under the terms of the project gutenberg license included',
 u'with this ebook or online at www gutenberg net',
 u'',
 u'',
 u'title: don quijote',
 u'']

In [17]:
rdd3 = rdd2.flatMap(lambda x: x.split())
rdd3.count()

384846

In [18]:
rdd3.takeSample(False,6)

[u'dijeron:', u'vida', u'prudencia', u'tragedia', u'don', u'que']

In [19]:
rdd4 = rdd3.map(lambda x: (x, 1))
rdd4.take(15)

[(u'the', 1),
 (u'project', 1),
 (u'gutenberg', 1),
 (u'ebook', 1),
 (u'of', 1),
 (u'don', 1),
 (u'quijote', 1),
 (u'by', 1),
 (u'miguel', 1),
 (u'de', 1),
 (u'cervantes', 1),
 (u'saavedra', 1),
 (u'this', 1),
 (u'ebook', 1),
 (u'is', 1)]

In [20]:
rdd5 = rdd4.reduceByKey(lambda x,y:x+y)
rdd5.count()

28417

In [21]:
rdd6 = rdd5.map(lambda x:(x[1],x[0]))
rdd6.take(10)

[(1, u"junto''"),
 (1, u'ledan\xedas'),
 (1, u'\xbfventa'),
 (2, u'canes'),
 (1, u'acurruc\xf3'),
 (15, u'igual'),
 (12, u'ciudades'),
 (1, u't\xeda'),
 (1, u'viese;'),
 (10, u'hermana')]

In [22]:
rdd7 = rdd6.sortByKey(False)
rdd7.take(10)

[(20592, u'que'),
 (18193, u'de'),
 (18139, u'y'),
 (10358, u'la'),
 (9852, u'a'),
 (8202, u'en'),
 (8199, u'el'),
 (6199, u'no'),
 (4744, u'los'),
 (4691, u'se')]

# RDD Data Set load example (karma)

In [23]:
! ls -la

total 3040
drwxrwxrwx.  7 root   root      199 Oct 24 13:01 .
drwxr-xr-x. 10 jovyan users     207 Jan 20  2017 ..
drwxr-xr-x.  2 jovyan users      71 Oct 19 14:06 .ipynb_checkpoints
-rw-r--r--.  1 root   root   522197 Oct 24 12:38 movies.dat
-rw-r--r--.  1 jovyan users   26036 Oct 24 13:01 nb-raul.ipynb
drwxrwxrwx.  7 root   root      126 Oct 18 19:09 python
-rw-r--r--.  1 root   root  2198927 Oct 24 11:37 quijote_complete.txt
drwxrwxrwx.  5 root   root       61 Jan 30  2017 R
-rw-r--r--.  1 root   root   353382 Oct 24 12:38 ratings_verysmall.dat
drwxrwxrwx.  5 root   root       61 Jan 30  2017 scala
drwxrwxrwx.  5 root   root      174 Sep 12 00:30 spark
-rw-r--r--.  1 jovyan users     898 Sep 12 00:32 Untitled.ipynb

In [24]:
! head -10 movies.dat

1::Toy Story (1995)::Adventure|Animation|Children|Comedy|Fantasy
2::Jumanji (1995)::Adventure|Children|Fantasy
3::Grumpier Old Men (1995)::Comedy|Romance
4::Waiting to Exhale (1995)::Comedy|Drama|Romance
5::Father of the Bride Part II (1995)::Comedy
6::Heat (1995)::Action|Crime|Thriller
7::Sabrina (1995)::Comedy|Romance
8::Tom and Huck (1995)::Adventure|Children
9::Sudden Death (1995)::Action
10::GoldenEye (1995)::Action|Adventure|Thriller

In [25]:
! head -10 ratings_verysmall.dat

1::122::5::838985046
1::185::5::838983525
1::231::5::838983392
1::292::5::838983421
1::316::5::838983392
1::329::5::838983392
1::355::5::838984474
1::356::5::838983653
1::362::5::838984885
1::364::5::838983707

In [26]:
# Loading CSV files from file into RDDs in cluster memory
moviesRDD = sc.textFile('movies.dat')
ratingsRDD = sc.textFile('ratings_verysmall.dat')

In [27]:
# See what we've got in the RDDs
print('--- Movies:')
print(moviesRDD.take(4))
print('--- Ratings:')
print(ratingsRDD.take(4))

--- Movies:
[u'1::Toy Story (1995)::Adventure|Animation|Children|Comedy|Fantasy', u'2::Jumanji (1995)::Adventure|Children|Fantasy', u'3::Grumpier Old Men (1995)::Comedy|Romance', u'4::Waiting to Exhale (1995)::Comedy|Drama|Romance']
--- Ratings:
[u'1::122::5::838985046', u'1::185::5::838983525', u'1::231::5::838983392', u'1::292::5::838983421']

In [28]:
# Current data format in the RDD
ratingsRDD.take(6)

[u'1::122::5::838985046',
 u'1::185::5::838983525',
 u'1::231::5::838983392',
 u'1::292::5::838983421',
 u'1::316::5::838983392',
 u'1::329::5::838983392']

In [29]:
# Split fields using a map transformation
SplittedRatingsRDD = ratingsRDD.map(lambda l : l.split('::'))

In [30]:
# See what we've got now: 
SplittedRatingsRDD.take(6)

[[u'1', u'122', u'5', u'838985046'],
 [u'1', u'185', u'5', u'838983525'],
 [u'1', u'231', u'5', u'838983392'],
 [u'1', u'292', u'5', u'838983421'],
 [u'1', u'316', u'5', u'838983392'],
 [u'1', u'329', u'5', u'838983392']]

In [33]:
# Create pairs M/R style for the counting task (Mapper):
RatingCountsRDD = SplittedRatingsRDD.map( lambda (uId, mId, r, ts) : (int(uId), 1))

In [34]:
RatingCountsRDD.count()

15000

In [35]:
# Taking a sample of our partial counts
Rsample = RatingCountsRDD.sample(False, 0.001)

In [37]:
# See how big the sample is and inspect
Rsample.count()

12

In [38]:
# See how big the sample is and inspect
Rsample.take(6)

[(14, 1), (18, 1), (34, 1), (35, 1), (36, 1), (51, 1)]

In [42]:
# Aggregate counts by user (Reducer)
RatingsByUserRDD = RatingCountsRDD.reduceByKey(lambda r1, r2 : r1 + r2)

In [45]:
# Inspect:
RatingsByUserRDD.takeSample(False, 10)

[(13, 146),
 (66, 41),
 (30, 147),
 (50, 46),
 (90, 44),
 (27, 38),
 (100, 193),
 (135, 16),
 (105, 25),
 (72, 22)]

In [47]:
# Get the top 10 users by the number of ratings:
RatingsByUserRDD.takeOrdered(10, key=lambda (uId, nr): -nr)

[(8, 800),
 (34, 639),
 (65, 569),
 (125, 564),
 (96, 501),
 (36, 479),
 (78, 468),
 (56, 427),
 (122, 421),
 (18, 413)]

In [48]:
# Nested version of the same using a "karma" RDD:
karma = (
sc.textFile('ratings_verysmall.dat')
.map(lambda l : l.split('::'))
.map(lambda (uId, mId, r, ts) : (int(uId), 1))
.reduceByKey(lambda r1, r2 : r1 + r2)
)
karma.takeOrdered(10, key=lambda (uId, nr): -nr)

[(8, 800),
 (34, 639),
 (65, 569),
 (125, 564),
 (96, 501),
 (36, 479),
 (78, 468),
 (56, 427),
 (122, 421),
 (18, 413)]

# Working with Spark SQL

In [17]:
# Getting the Spark SQL context and imports
from pyspark.sql import SQLContext, Row
sqlContext = SQLContext.getOrCreate(sc.getOrCreate())

In [18]:
sqlContext.getConf("spark.sql.shuffle.partitions")

u'200'

In [57]:
# Creating a simple DataFrame programatically
array = [Row(key="a", group="vowels", value=1),
         Row(key="b", group="consonants", value=2),
         Row(key="c", group="consonants", value=3),
         Row(key="d", group="consonants", value=4),
         Row(key="e", group="vowels", value=5)]
dataframe = sqlContext.createDataFrame(sc.parallelize(array))
dataframe.registerTempTable("PythonTestTable")

In [58]:
dataframe.explain

In [63]:
query1 = sqlContext.sql("select * from PythonTestTable")

In [64]:
query1.count()

5

In [65]:
query1.take(5)

[Row(group=u'vowels', key=u'a', value=1),
 Row(group=u'consonants', key=u'b', value=2),
 Row(group=u'consonants', key=u'c', value=3),
 Row(group=u'consonants', key=u'd', value=4),
 Row(group=u'vowels', key=u'e', value=5)]

In [66]:
# Sample age data:
datosEdad = [('Raul', 22), ('Ana', 32), ('Juan', 46)]
df1 = sqlContext.createDataFrame(datosEdad, ['nombre', 'edad'])

In [67]:
# Apply filter to age data:
filtroEdad = df1.filter(df1.edad >= 30).collect()
print filtroEdad

[Row(nombre=u'Ana', edad=32), Row(nombre=u'Juan', edad=46)]

In [69]:
df1.filter(df1.edad >= 30).explain()

== Physical Plan ==
*Filter (isnotnull(edad#28L) && (edad#28L >= 30))
+- Scan ExistingRDD[nombre#27,edad#28L]

In [75]:
# Sample height data
datosAltura = [('Raul', 176), ('Ana', 177), ('Juan', 182)]
df2 = sqlContext.createDataFrame(datosAltura, ['nombre', 'altura'])
df2.collect()

[Row(nombre=u'Raul', altura=176),
 Row(nombre=u'Ana', altura=177),
 Row(nombre=u'Juan', altura=182)]

In [74]:
# Join height and age data:
df3 = df1.join(df2, 'nombre')
df3.collect()

[Row(nombre=u'Ana', edad=32, altura=177),
 Row(nombre=u'Raul', edad=22, altura=176),
 Row(nombre=u'Juan', edad=46, altura=182)]

In [76]:
# Explore different queries
df4 = df1.join(df2, 'nombre').select(df1.nombre, df2.altura)
df4.collect()

[Row(nombre=u'Ana', altura=177),
 Row(nombre=u'Raul', altura=176),
 Row(nombre=u'Juan', altura=182)]

In [77]:
df1.join(df2, 'nombre').select(df1.nombre, df2.altura).explain()

== Physical Plan ==
*Project [nombre#27, altura#57L]
+- *SortMergeJoin [nombre#27], [nombre#56], Inner
   :- *Sort [nombre#27 ASC], false, 0
   :  +- Exchange hashpartitioning(nombre#27, 200)
   :     +- *Project [nombre#27]
   :        +- *Filter isnotnull(nombre#27)
   :           +- Scan ExistingRDD[nombre#27,edad#28L]
   +- *Sort [nombre#56 ASC], false, 0
      +- Exchange hashpartitioning(nombre#56, 200)
         +- *Filter isnotnull(nombre#56)
            +- Scan ExistingRDD[nombre#56,altura#57L]

In [78]:
df5 = df1.join(df2, 'nombre').select('nombre', 'altura') 
df5.collect()

[Row(nombre=u'Ana', altura=177),
 Row(nombre=u'Raul', altura=176),
 Row(nombre=u'Juan', altura=182)]

In [79]:
df6 = df1.join(df2, 'nombre', 'right_outer').select('nombre')
df6.collect()

[Row(nombre=u'Ana'), Row(nombre=u'Raul'), Row(nombre=u'Juan')]

In [80]:
df6.explain()

== Physical Plan ==
*Project [nombre#56]
+- SortMergeJoin [nombre#27], [nombre#56], RightOuter
   :- *Sort [nombre#27 ASC], false, 0
   :  +- Exchange hashpartitioning(nombre#27, 200)
   :     +- *Project [nombre#27]
   :        +- Scan ExistingRDD[nombre#27,edad#28L]
   +- *Sort [nombre#56 ASC], false, 0
      +- Exchange hashpartitioning(nombre#56, 200)
         +- *Project [nombre#56]
            +- Scan ExistingRDD[nombre#56,altura#57L]

# Movie Ratings Example (karma)
## Using RDD and DataFrames APIs

In [82]:
# Loading movies dataset as a set of rows
movies = (
  sc.textFile('movies.dat')
  .map(lambda l : l.split('::'))
  .map(lambda (mId, t, gs) : Row(mId=int(mId), t=t)))

In [85]:
# Loading ratings dataset as a set of rows
ratings = (
  sc.textFile('ratings_verysmall.dat')
  .map(lambda l : l.split('::'))
  .map(lambda (uId, mId, r, ts) : Row(mId=int(mId), r=float(r))))

In [86]:
# Register both as SQL tables
sqlContext.createDataFrame(movies).registerTempTable("movies")
sqlContext.createDataFrame(ratings).registerTempTable("ratings")

In [87]:
# Launch the SQL query
avgRs = sqlContext.sql("SELECT t, AVG(r) AS avgR " +
"FROM movies m " +
"JOIN ratings r ON (m.mId = r.mId) " +
"GROUP BY t ORDER BY avgR DESC")

# Inspect resutls
avgRs.take(10)

[Row(t=u'Transformers (2007)', avgR=5.0),
 Row(t=u'Steamboat Bill, Jr. (1928)', avgR=5.0),
 Row(t=u'Lodger, The (1927)', avgR=5.0),
 Row(t=u'My Darling Clementine (1946)', avgR=5.0),
 Row(t=u'Junebug (2005)', avgR=5.0),
 Row(t=u'Navigator, The (1924)', avgR=5.0),
 Row(t=u'Spiral Staircase, The (1946)', avgR=5.0),
 Row(t=u'Beauty and the Beast (Belle et la b\xeate, La) (1946)', avgR=5.0),
 Row(t=u'Freaks (1932)', avgR=5.0),
 Row(t=u'Tales from the Crypt Presents: Demon Knight (1995)', avgR=5.0)]

# Exercise
## Counting ratings per user

In [88]:
# Another example: Counting ratings per user.
# Load ratings as rows with user id, movie id and rating (float):
ratings = (
  sc.textFile('ratings_verysmall.dat')
  .map(lambda l : l.split('::'))
  .map(lambda (uId, mId, r, ts) : Row(uId=int(uId), mId=int(mId), r=float(r))))

In [89]:
# Register the table for SQL
sqlContext.createDataFrame(ratings).registerTempTable("ratings")

In [90]:
# SQL query for counting ratings:
UsrRatingsCount = sqlContext.sql("SELECT uId, COUNT(*) FROM ratings GROUP BY uId")

In [91]:
# Inspect results:
UsrRatingsCount.take(10)

[Row(uId=26, count(1)=32),
 Row(uId=29, count(1)=42),
 Row(uId=65, count(1)=569),
 Row(uId=19, count(1)=233),
 Row(uId=54, count(1)=49),
 Row(uId=112, count(1)=403),
 Row(uId=113, count(1)=37),
 Row(uId=22, count(1)=47),
 Row(uId=130, count(1)=56),
 Row(uId=7, count(1)=109)]

In [92]:
# SQL query for counting ratings (ordered):
UsrRatingsCount = sqlContext.sql("SELECT uId, COUNT(*) FROM ratings GROUP BY uId ORDER BY COUNT(*) DESC")

In [93]:
# Inspect results:
UsrRatingsCount.take(10)

[Row(uId=8, count(1)=800),
 Row(uId=34, count(1)=639),
 Row(uId=65, count(1)=569),
 Row(uId=125, count(1)=564),
 Row(uId=96, count(1)=501),
 Row(uId=36, count(1)=479),
 Row(uId=78, count(1)=468),
 Row(uId=56, count(1)=427),
 Row(uId=122, count(1)=421),
 Row(uId=18, count(1)=413)]

In [94]:
# SQL query for counting ratings (ordered and good formatting):
UsrRatingsCount = sqlContext.sql("SELECT uId, COUNT(*) AS UserCount " +
                                 "FROM ratings " +
                                 "GROUP BY uId " +
                                 "ORDER BY UserCount DESC")

In [95]:
# Inspect results:
UsrRatingsCount.take(10)

[Row(uId=8, UserCount=800),
 Row(uId=34, UserCount=639),
 Row(uId=65, UserCount=569),
 Row(uId=125, UserCount=564),
 Row(uId=96, UserCount=501),
 Row(uId=36, UserCount=479),
 Row(uId=78, UserCount=468),
 Row(uId=56, UserCount=427),
 Row(uId=122, UserCount=421),
 Row(uId=18, UserCount=413)]

# Fake Data Generation
## Using faker and Spark SQL

In [97]:
! pip install faker

Collecting faker
  Downloading Faker-0.8.6-py2.py3-none-any.whl (666kB)
    100% |████████████████████████████████| 675kB 1.2MB/s ta 0:00:011
Collecting ipaddress; python_version == "2.7" (from faker)
  Downloading ipaddress-1.0.18-py2-none-any.whl
Requirement already satisfied: six in /opt/conda/envs/python2/lib/python2.7/site-packages (from faker)
Requirement already satisfied: python-dateutil>=2.4 in /opt/conda/envs/python2/lib/python2.7/site-packages (from faker)
Collecting text-unidecode (from faker)
  Downloading text_unidecode-1.0-py2.py3-none-any.whl (75kB)
    100% |████████████████████████████████| 81kB 5.7MB/s eta 0:00:01
Installing collected packages: ipaddress, text-unidecode, faker
Successfully installed faker-0.8.6 ipaddress-1.0.18 text-unidecode-1.0

In [3]:
from faker import Faker
fake = Faker('es_ES')
fake.seed(6243)

In [4]:
# Each entry consists of last_name, first_name, ssn, job, and age (at least 1)
from pyspark.sql import Row
def fake_entry():
  name = fake.name().split()
  return Row(name[1], name[0], fake.ssn(), fake.job(), abs(2017 - fake.date_time().year) + 1)

In [5]:
# Create a helper function to call a function repeatedly
def repeat(times, func, *args, **kwargs):
    for _ in xrange(times):
        yield func(*args, **kwargs)

In [12]:
# Create the dataset with 1k entries
data = list(repeat(1000, fake_entry))

In [13]:
# Check:
data[0][0], data[0][1], data[0][2], data[0][3], data[0][4]

(u'Llorens', u'Margarita', u'011-35-0561', 'Ceramics designer', 43)

In [8]:
# Check:
len(data)

1000

In [19]:
# Build the DataFrame:
dataDF = sqlContext.createDataFrame(data, ('last_name', 'first_name', 'ssn', 'occupation', 'age'))
dataDF.printSchema()

root
 |-- last_name: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- ssn: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- age: long (nullable = true)

In [20]:
# Check DF
print dataDF.count()
print dataDF.distinct().count()

1000
1000

In [21]:
dataDF.explain()

== Physical Plan ==
Scan ExistingRDD[last_name#0,first_name#1,ssn#2,occupation#3,age#4L]

In [22]:
# Check DataFrame (RDD) partitions
dataDF.rdd.getNumPartitions()

1

In [23]:
# See Spark planning: 
newDF = dataDF.distinct().select('*')
newDF.explain(True)

== Parsed Logical Plan ==
'Project [*]
+- Aggregate [last_name#0, first_name#1, ssn#2, occupation#3, age#4L], [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]
   +- LogicalRDD [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]

== Analyzed Logical Plan ==
last_name: string, first_name: string, ssn: string, occupation: string, age: bigint
Project [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]
+- Aggregate [last_name#0, first_name#1, ssn#2, occupation#3, age#4L], [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]
   +- LogicalRDD [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]

== Optimized Logical Plan ==
Aggregate [last_name#0, first_name#1, ssn#2, occupation#3, age#4L], [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]
+- LogicalRDD [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]

== Physical Plan ==
*HashAggregate(keys=[last_name#0, first_name#1, ssn#2, occupation#3, age#4L], functions=[], output=[last_name#0, first_name#1, ssn#2, occupation#3, age#4L])
+- Exchange hashpartitioning(last_name#0, first_name#1, ssn#2, occupation#3, age#4L, 200)
   +- *HashAggregate(keys=[last_name#0, first_name#1, ssn#2, occupation#3, age#4L], functions=[], output=[last_name#0, first_name#1, ssn#2, occupation#3, age#4L])
      +- Scan ExistingRDD[last_name#0,first_name#1,ssn#2,occupation#3,age#4L]

In [24]:
# See the data
dataDF.show(n=30, truncate=False)

+---------+----------+-----------+--------------------------------------------+---+
|last_name|first_name|ssn        |occupation                                  |age|
+---------+----------+-----------+--------------------------------------------+---+
|Llorens  |Margarita |011-35-0561|Ceramics designer                           |43 |
|Elorza   |Sonia     |423-41-7894|Field trials officer                        |16 |
|de       |Raquel    |161-64-7629|Brewing technologist                        |35 |
|León     |Teresa    |325-79-6419|Geologist, engineering                      |14 |
|Gimenez  |Remedios  |206-14-9369|Further education lecturer                  |43 |
|Ramon    |Jose      |091-82-8370|Designer, industrial/product                |3  |
|Cuenca   |Emilia    |283-17-0799|Best boy                                    |46 |
|Ramon    |Jose      |825-45-6694|Nurse, learning disability                  |23 |
|Abascal  |Elena     |382-07-1423|Police officer                              |28 |
|Barberá  |Óscar     |880-20-1544|Aeronautical engineer                       |40 |
|Bonilla  |Jordi     |703-55-3324|Systems analyst                             |4  |
|Río      |Josefina  |795-72-7974|Software engineer                           |45 |
|Portillo |Ignacio   |681-98-9500|Lighting technician, broadcasting/film/video|42 |
|Lloret   |Carlos    |075-57-8290|Data scientist                              |19 |
|Saura    |Óscar     |339-14-4786|Museum education officer                    |25 |
|de       |Marc      |342-63-9736|Outdoor activities/education manager        |41 |
|Seco     |Blanca    |762-77-8196|Administrator, Civil Service                |45 |
|Cerdá    |Pablo     |733-50-4250|Recycling officer                           |38 |
|Castañeda|Esther    |171-33-1817|Education officer, museum                   |40 |
|del      |Gregorio  |878-72-5753|Maintenance engineer                        |7  |
|Alicia   |Montserrat|797-81-0051|Buyer, industrial                           |33 |
|del      |Emilia    |213-43-3184|Advertising account planner                 |41 |
|Lastra   |Adriana   |590-99-3251|Sports development officer                  |9  |
|Luis     |Mario     |662-50-2673|Nurse, mental health                        |46 |
|Llanos   |Montserrat|234-74-7943|Leisure centre manager                      |13 |
|Alvarado |Trinidad  |696-61-6687|Pensions consultant                         |18 |
|Paula    |Elena     |167-71-6965|Geochemist                                  |20 |
|Marín    |Martin    |396-82-8651|Games developer                             |29 |
|Arteaga  |Mohamed   |586-42-9403|Scientist, water quality                    |6  |
|Fiol     |Santiago  |024-10-8844|Call centre manager                         |26 |
+---------+----------+-----------+--------------------------------------------+---+
only showing top 30 rows

In [25]:
# Applying filters
filteredDF = dataDF.filter(dataDF.age < 10)
filteredDF.show(truncate=False)
filteredDF.count()

+--------------+----------+-----------+-----------------------------------------+---+
|last_name     |first_name|ssn        |occupation                               |age|
+--------------+----------+-----------+-----------------------------------------+---+
|Ramon         |Jose      |091-82-8370|Designer, industrial/product             |3  |
|Bonilla       |Jordi     |703-55-3324|Systems analyst                          |4  |
|del           |Gregorio  |878-72-5753|Maintenance engineer                     |7  |
|Lastra        |Adriana   |590-99-3251|Sports development officer               |9  |
|Arteaga       |Mohamed   |586-42-9403|Scientist, water quality                 |6  |
|Julia         |Teresa    |504-08-0876|Chief Strategy Officer                   |6  |
|Peiró-Calderón|Manuel    |080-56-6352|Electrical engineer                      |5  |
|Palomino      |Cesar     |472-06-7982|Production assistant, radio              |1  |
|Luis          |Alejandro |413-06-2025|Sound technician, broadcasting/film/video|8  |
|Herrera-Polo  |Rodrigo   |550-39-5486|Chemical engineer                        |9  |
|Sebastián     |Belen     |005-08-7555|Furniture conservator/restorer           |7  |
|Camacho       |Andrea    |803-25-2937|Television production assistant          |6  |
|Llano         |Celia     |841-55-5274|Podiatrist                               |3  |
|del           |Gloria    |470-16-2507|Pharmacist, community                    |9  |
|Riquelme      |Ramon     |232-81-5352|Therapeutic radiographer                 |4  |
|Macías-Cadenas|Elisa     |340-98-2870|Writer                                   |5  |
|Almansa       |Carolina  |115-47-7146|Accountant, chartered management         |2  |
|Sofia         |Rosa      |561-97-2302|Sound technician, broadcasting/film/video|1  |
|Jose          |Francisco |069-91-5424|Embryologist, clinical                   |4  |
|Tur           |Nieves    |201-65-0577|Publishing copy                          |2  |
+--------------+----------+-----------+-----------------------------------------+---+
only showing top 20 rows

179

In [37]:
# DF API Queries
temp = dataDF.orderBy('age')
temp.show(truncate=True)

+---------+----------+-----------+--------------------+---+
|last_name|first_name|        ssn|          occupation|age|
+---------+----------+-----------+--------------------+---+
| Palomino|     Cesar|472-06-7982|Production assist...|  1|
| Gonzalez|     Elisa|506-70-9419|Education officer...|  1|
|   Asenjo|   Nicolás|661-02-5739|      Therapist, art|  1|
|    Sofia|      Rosa|561-97-2302|Sound technician,...|  1|
|     José|      Juan|764-53-1805|      Energy manager|  1|
|       de|     Celia|137-94-7391|           Economist|  1|
|   Madrid|     Pilar|334-03-6613|          Printmaker|  1|
|   Manuel|      Jose|503-89-8515|Programmer, appli...|  1|
|   Pineda|  Remedios|563-26-4011|   Financial planner|  1|
|     Jose| Francisco|282-22-9611|Corporate investm...|  1|
|  Ferrero|     Nuria|742-22-4329|        Retail buyer|  1|
|     Leal|  Trinidad|856-16-7935|   Ceramics designer|  1|
|   Carlos|      Jose|246-56-9392|Multimedia specia...|  1|
|     Alex|    Hector|770-07-0636|   Financial adviser|  1|
|  Noguera|    Silvia|639-35-4297|Furniture conserv...|  2|
|  Almansa|  Carolina|115-47-7146|Accountant, chart...|  2|
|      Tur|    Nieves|201-65-0577|     Publishing copy|  2|
|  Ignacio|     Tomás|709-18-0580|Production assist...|  2|
|   Sotelo|    Lorena|424-42-6781|Conservator, muse...|  2|
|    Manso|       Luz|371-55-4301|Diagnostic radiog...|  2|
+---------+----------+-----------+--------------------+---+
only showing top 20 rows

In [39]:
# DF API Queries
dataDF.orderBy('age').take(5)

[Row(last_name=u'Alex', first_name=u'Hector', ssn=u'770-07-0636', occupation=u'Financial adviser', age=1),
 Row(last_name=u'Leal', first_name=u'Trinidad', ssn=u'856-16-7935', occupation=u'Ceramics designer', age=1),
 Row(last_name=u'Gonzalez', first_name=u'Elisa', ssn=u'506-70-9419', occupation=u'Education officer, community', age=1),
 Row(last_name=u'Sofia', first_name=u'Rosa', ssn=u'561-97-2302', occupation=u'Sound technician, broadcasting/film/video', age=1),
 Row(last_name=u'Pineda', first_name=u'Remedios', ssn=u'563-26-4011', occupation=u'Financial planner', age=1)]

In [40]:
dataDF.groupBy('occupation').count().show(truncate=False)

+---------------------------------------+-----+
|occupation                             |count|
+---------------------------------------+-----+
|Engineer, aeronautical                 |2    |
|Diplomatic Services operational officer|1    |
|Librarian, academic                    |3    |
|Catering manager                       |1    |
|Patent examiner                        |2    |
|Primary school teacher                 |1    |
|English as a second language teacher   |2    |
|Estate agent                           |4    |
|Control and instrumentation engineer   |1    |
|Art therapist                          |1    |
|Transport planner                      |2    |
|Petroleum engineer                     |2    |
|Stage manager                          |1    |
|Conservator, furniture                 |1    |
|Investment banker, operational         |2    |
|Adult nurse                            |4    |
|Administrator, Civil Service           |2    |
|Counsellor                             |2    |
|Sports administrator                   |1    |
|Product manager                        |2    |
+---------------------------------------+-----+
only showing top 20 rows

In [41]:
dataDF.filter(dataDF.age < 18).groupBy('occupation').count().show(truncate=False)

+------------------------------------+-----+
|occupation                          |count|
+------------------------------------+-----+
|Librarian, academic                 |3    |
|Engineer, aeronautical              |1    |
|Catering manager                    |1    |
|Patent examiner                     |1    |
|English as a second language teacher|1    |
|Estate agent                        |3    |
|Control and instrumentation engineer|1    |
|Transport planner                   |1    |
|Stage manager                       |1    |
|Investment banker, operational      |2    |
|Adult nurse                         |2    |
|Petroleum engineer                  |1    |
|Sports administrator                |1    |
|Product manager                     |1    |
|Chartered public finance accountant |2    |
|Personal assistant                  |1    |
|Journalist, newspaper               |1    |
|Corporate investment banker         |1    |
|Theatre director                    |1    |
|Child psychotherapist               |1    |
+------------------------------------+-----+
only showing top 20 rows

In [51]:
from pyspark.sql.functions import col
occCount = dataDF.filter(dataDF.age < 80).groupBy('occupation').count()
occCount.sort(col('count').desc()).show(truncate=False)

+-------------------------------------------+-----+
|occupation                                 |count|
+-------------------------------------------+-----+
|Field trials officer                       |8    |
|Chief Strategy Officer                     |7    |
|Amenity horticulturist                     |7    |
|Horticultural therapist                    |6    |
|Psychologist, prison and probation services|6    |
|Geologist, engineering                     |6    |
|Waste management officer                   |6    |
|Armed forces technical officer             |5    |
|Sales executive                            |5    |
|Chief Financial Officer                    |5    |
|Lecturer, further education                |5    |
|Software engineer                          |5    |
|Insurance account manager                  |5    |
|Dance movement psychotherapist             |5    |
|Hospital pharmacist                        |4    |
|Editor, film/video                         |4    |
|Holiday representative                     |4    |
|Arts development officer                   |4    |
|Multimedia specialist                      |4    |
|Adult nurse                                |4    |
+-------------------------------------------+-----+
only showing top 20 rows

In [58]:
occCount.registerTempTable("occTable")
res = sqlContext.sql("select * from occTable order by count desc")
res.show()

+--------------------+-----+
|          occupation|count|
+--------------------+-----+
|Field trials officer|    8|
|Chief Strategy Of...|    7|
|Amenity horticult...|    7|
|Horticultural the...|    6|
|Psychologist, pri...|    6|
|Geologist, engine...|    6|
|Waste management ...|    6|
|Armed forces tech...|    5|
|     Sales executive|    5|
|Chief Financial O...|    5|
|Lecturer, further...|    5|
|   Software engineer|    5|
|Insurance account...|    5|
|Dance movement ps...|    5|
| Hospital pharmacist|    4|
|  Editor, film/video|    4|
|Holiday represent...|    4|
|Arts development ...|    4|
|Multimedia specia...|    4|
|         Adult nurse|    4|
+--------------------+-----+
only showing top 20 rows

In [59]:
sqlContext.sql("select * from occTable order by count desc").explain()

== Physical Plan ==
*Sort [count#265L DESC], true, 0
+- Exchange rangepartitioning(count#265L DESC, 200)
   +- *HashAggregate(keys=[occupation#3], functions=[count(1)])
      +- Exchange hashpartitioning(occupation#3, 200)
         +- *HashAggregate(keys=[occupation#3], functions=[partial_count(1)])
            +- *Project [occupation#3]
               +- *Filter (isnotnull(age#4L) && (age#4L < 80))
                  +- Scan ExistingRDD[last_name#0,first_name#1,ssn#2,occupation#3,age#4L]

In [60]:
# Other way to register the DataFrame as table for SQL usage:
sqlContext.registerDataFrameAsTable(dataDF, 'people')

In [63]:
sqlContext.sql("select * from people where people.age > 46").show()

+------------+------------+-----------+--------------------+---+
|   last_name|  first_name|        ssn|          occupation|age|
+------------+------------+-----------+--------------------+---+
|       Plaza|      Esther|461-31-3752|  Materials engineer| 47|
|       Arnau|       Julio|536-74-3134|       Oceanographer| 47|
|     Almazán|Purificación|502-06-6577|Research officer,...| 48|
|          de|      Julian|106-41-3492|Psychologist, cli...| 47|
|        Sala|      Mireia|295-75-6933|Careers informati...| 48|
|    Mariscal|      Teresa|584-05-1203|Sales promotion a...| 48|
|      Zabala|     Ricardo|631-06-5739|Presenter, broadc...| 47|
|          de|   Magdalena|145-80-4796|Interior and spat...| 48|
|       Lucas|      Marcos|654-07-0812|       Warden/ranger| 48|
|          de|      Aurora|274-96-1900|Senior tax profes...| 48|
|      Carlos|        Marc|112-07-9242|Newspaper journalist| 47|
|        Cobo|     Antonio|622-46-4802|   Film/video editor| 47|
|   Pol-Seguí|      Daniel|602-38-9848|      Engineer, site| 48|
|    Luz-Sanz|     Eduardo|198-66-5856|Trade union resea...| 47|
|Ribera-Ureña|        Sara|259-68-4946|   Financial manager| 47|
|        Puga|  Inmaculada|347-17-9980| Chemist, analytical| 48|
|       Maria|        Jose|846-43-9136|Television floor ...| 48|
|       Reyes|      Adrián|153-51-9891|Teacher, English ...| 47|
|       Soler|     Beatriz|326-98-6283|Clinical psycholo...| 47|
| Milla-Matas|        Ivan|308-50-1519|        Video editor| 47|
+------------+------------+-----------+--------------------+---+
only showing top 20 rows

In [64]:
sqlContext.sql("select count(ssn) as number, occupation from people where age > 18 group by occupation").show()

+------+--------------------+
|number|          occupation|
+------+--------------------+
|     1|Engineer, aeronau...|
|     1|Diplomatic Servic...|
|     1|Primary school te...|
|     1|     Patent examiner|
|     1|English as a seco...|
|     1|        Estate agent|
|     1|       Art therapist|
|     1|   Transport planner|
|     1|  Petroleum engineer|
|     1|Conservator, furn...|
|     2|         Adult nurse|
|     2|Administrator, Ci...|
|     2|          Counsellor|
|     1|     Product manager|
|     1|Chartered public ...|
|     1|Pharmacist, hospital|
|     2|          Contractor|
|     2|   Financial manager|
|     1|      Police officer|
|     1|      Hydrogeologist|
+------+--------------------+
only showing top 20 rows

# Spark MLlib Examples

## K-Means Example

In [68]:
# Our data set 
! ls -la kmeans*

-rw-r--r--. 1 jovyan users 72 Oct 25 13:30 kmeans_data.txt

In [69]:
# KMeans Spark implementation
from pyspark.ml.clustering import KMeans

In [71]:
# RDD Load data set
dataset_RDD = sc.textFile("kmeans_data.txt")

In [74]:
dataset_RDD.collect()

[u'0.0 0.0 0.0',
 u'0.1 0.1 0.1',
 u'0.2 0.2 0.2',
 u'9.0 9.0 9.0',
 u'9.1 9.1 9.1',
 u'9.2 9.2 9.2']

In [75]:
# DataFrame Load data set
dataset_df = sqlContext.read.format("com.databricks.spark.csv") \
  .option("header", "false").option("delimiter"," ").option("inferschema", "true") \
  .load("kmeans_data.txt")

In [76]:
dataset_df.show()

+---+---+---+
|_c0|_c1|_c2|
+---+---+---+
|0.0|0.0|0.0|
|0.1|0.1|0.1|
|0.2|0.2|0.2|
|9.0|9.0|9.0|
|9.1|9.1|9.1|
|9.2|9.2|9.2|
+---+---+---+

In [77]:
dataset_df.printSchema()

root
 |-- _c0: double (nullable = true)
 |-- _c1: double (nullable = true)
 |-- _c2: double (nullable = true)

In [84]:
# Prepare data for training 
from pyspark.ml.feature import VectorAssembler
from pyspark.ml import Pipeline

In [86]:
assembler = VectorAssembler(inputCols=["_c0","_c1","_c2"], outputCol="features") 
assembler.transform(dataset_df)

DataFrame[_c0: double, _c1: double, _c2: double, features: vector]

In [87]:
# Create the KMeans model
kmeans_estimator = KMeans().setFeaturesCol("features").setPredictionCol("prediction")

In [88]:
# Pipeline stages definition
pipeline = Pipeline(stages=[assembler, kmeans_estimator])

In [90]:
# Pipeline training
model = pipeline.fit(dataset_df)

In [92]:
# Get the results: 
results = model.transform(dataset_df)

In [94]:
# Check results:
results.show()

+---+---+---+-------------+----------+
|_c0|_c1|_c2|     features|prediction|
+---+---+---+-------------+----------+
|0.0|0.0|0.0|    (3,[],[])|         1|
|0.1|0.1|0.1|[0.1,0.1,0.1]|         1|
|0.2|0.2|0.2|[0.2,0.2,0.2]|         1|
|9.0|9.0|9.0|[9.0,9.0,9.0]|         0|
|9.1|9.1|9.1|[9.1,9.1,9.1]|         0|
|9.2|9.2|9.2|[9.2,9.2,9.2]|         0|
+---+---+---+-------------+----------+

# Spark MLlib Examples

## Give Me Credit Example

In [105]:
! ls -la cs*

-rw-r--r--. 1 jovyan users 7564965 Oct 25 14:26 cs-training.csv

In [106]:
training_set_csv = sc.textFile("cs-training.csv")

In [107]:
training_set_csv.takeSample(False, 10)

[u'50368,0,0.128888174,60,0,0.017980895,5338,3,1,0,0,0',
 u'32155,0,0.09860954,48,0,0.26446281,3750,5,0,1,0,0',
 u'75066,0,0.661458537,57,0,2305,NA,7,0,1,0,3',
 u'136067,0,0.93299298,44,0,0.478718406,10642,12,0,2,0,0',
 u'24598,0,0.980747349,28,0,0.217005738,5750,16,0,0,1,0',
 u'49274,0,0.021256536,49,0,0.307874144,12267,7,0,3,1,2',
 u'23474,0,0.00373585,69,0,1418,NA,12,0,2,0,0',
 u'16071,0,0.738260955,34,0,0.151169424,1752,2,0,0,0,0',
 u'123478,0,0.13843795,38,0,1364,NA,12,0,1,0,0',
 u'9810,0,0.370114353,51,0,0.394998015,15113,9,0,2,0,3']

In [111]:
training_set_csv.count()

150001

In [109]:
# Get header with field names
header = training_set_csv.first()
header

u',SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents'

In [110]:
# Fields in the training set
fields = [StructField(field_name, StringType(), True) for field_name in header.split('\t')]
fields

NameError: name 'StructField' is not defined